
/*************** hero ****************/
/* .hero {
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60% 40%;
    transition: all 200ms ease-out;
} */

/* .hero-img-wrapper {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    grid-row: 1/-1;
    grid-column: 2/-1;
    height: 550px;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba(0,0,0,.2);
} */

/* .hero-img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.45);
    z-index: 100;
    border-radius: 15px;
} */

/* .hero-heading-wrapper {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 101;
    align-self: flex-end;
} */

/* .hero-heading {
    font-size: 4.5rem;
    line-height: 1.2;
    color: var(--light-color);
}

.hero-subheading {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: #ccc;
} */

/* .btn-wrapper {
    grid-row: 2/-1;
    grid-column: 2/-1;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .hero-btn,
.hero-btn--photos {
    font-size: 1.15rem;
    text-transform: uppercase;
    color: var(--light-color);
    align-self: center;
    box-shadow: 5px 2px 10px rgba(0,0,0,.72);
    transition: 200ms ease-out;
} */

/* .hero-btn--photos {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    margin-left: 2rem;
    text-decoration: none;
    text-align: center;
} */

/* .hero-btn:hover,
.hero-btn--photos:hover {
    transform: scale(.97);
} */

/* modal
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    transition: all 210ms ease-in;
    transform: scale(0, 0);
    z-index: 110;
}

.modal > .card-contact {
    visibility: hidden;
}

.show.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    transition: all 500ms ease-in;
    transform: scale(1,1);
}

.show.modal > .card-contact {
    visibility: visible;
}

.show ~ .hero {
    filter: blur(3px);
}

.card-contact{
    background-color: var(--primary-color);
    color: var(--light-color);
    position: relative;
}

.card-contact p {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.card-contact p:last-child {
    font-size: .75rem;
    cursor: pointer;
}

.red-name {
    margin-top: 1rem;
}

.close-modal {
    position: absolute;
    margin-top: 1rem;
    top: 0;
    right: 0;
} */

/* What Where Section */
/* #what-where {
    height: 100vh;
    background-color: var(--accent-color);
} */

.what-where-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 75%;
    gap: 1rem;
}

.what-where-header {
    grid-column: 1/-1;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .75rem;
}

/* .what-where-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
} */

/* .what-where-subtitle {
    font-size: 1rem;
    margin-top: 1rem;
} */

/* .card-what-where {
    box-shadow: none;
    background-color: rgba(0,0,0,.1);
    padding: .5rem;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    color: var(--light-color);
    border-radius: 5px;
}

.card-what-where h3 {
    color: #fff;
    margin-bottom: .5rem;
    font-weight: 700;
}

.card-what-where p {
    margin-top: .25rem;
}

.card-what-where p span {
    font-weight: 600;
    color: yellow;
} */

/* .what-where-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
} */

/* .what-wher-inf-address {
    grid-row: 1/2;
    grid-column: 1/2;
}

.what-where-fact-sheet {
    grid-row: 2/-1;
    grid-column: 2/-1;
} */

/* .what-where-img {
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=27.889357,-82.500478&size=400x400&zoom=14.5&markers=%7C27.883608,-82.499559%7C&styles=feature:poi%7Clabels%7Cvisibility:simplified&key=AIzaSyCup6xXaJM4-4dI-J-SunhwkWvZb89MC-c);
    box-shadow: 3px 3px 8px rgba(0,0,0,.1);
    border-radius: 5px;
    background-size: cover;
} */

/* .card-what-where {
    width: 100%;
    margin-top: 0;
} */

/* Gallery */
/* #gallery {
    max-width: 1100px;
    margin: 0 auto;
} */

/* .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
} */

/* .gallery-header {
    color: var(--accent-color);
    justify-self: center;
    display: flex;
    align-items: center;
} */

/* .gallery-title__g {
    margin-top: -7rem;
} */

/* .gallery-title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    writing-mode: vertical-rl;
    text-orientation: upright;
} */

/* .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 2rem;
} */

/* .gallery-img {
    height: 200px;
    width:  200px;
    cursor: pointer;
} */

/* #lightbox {
    position: fixed;
    z-index: 1000;
    top:0;
    right:0;
    width:0;
    height:0;
    background-color: rgba(0,0,0,.8);
}

.lightbox-active {
    cursor: pointer;
}

.lightbox-active img {
    cursor: not-allowed;
}


#lightbox.lightbox-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: width 500ms ease, height 400ms ease;
} */

